@using Microsoft.AspNetCore.Http.Features
@using Csi.LookMeUp.Models

@{
    ClaimsIdentityUser user = new ClaimsIdentityUser(User.Identity);
}

@if (User.Identity.IsAuthenticated)
{
    <a asp-area="" asp-controller="Account" asp-action="Logout" class="btn btn-link">Log out @user.DisplayName</a>
}
else
{
    <a asp-area="" asp-controller="Account" asp-action="Login" class="btn btn-link">Log in</a>
}