@{
    ViewData["Title"] = "Project List";
}

<section class="page content">

<div class="starter-template">
    <h1>Project List</h1>
    <p class="lead">
        This page is left intentionally blank.
        <br/>Use this document as a way to quickly start any new page.
        <br/> All you get is this text and a mostly barebones HTML document.</p>
</div>

</section>