@{
    Layout = "_Skeleton_Layout";
    ViewData["Title"] = "Index - Sample";
}

@section style {
    <style type="">
        nav ul li {
            display: inline-block;
        }
    </style>
}

<div class="container">

    <div class="row">
        <div class="twelve columns">
            <h1 class="page header">
                Sample Index
            </h1>
            <nav>
                <ul>
                    <li>asd</li>
                    <li>qwe</li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="row">
      <div class="one-half column">

          <h2>CSS Frameworks</h2>
          <ol>
              <li>Milligram pages</li>
              <li>Skeleton</li>
              <li>Pure</li>
              <li>Bootstrap 3</li>
              <li>Bootstrap 4</li>
          </ol>
        <!-- 
        <h4>Basic Page</h4>
        <p>This index.html page is a placeholder with the CSS, font and favicon. It's just waiting for you to add some content! If you need some help hit up the <a href="http://www.getskeleton.com">Skeleton documentation</a>.</p> 
        -->
      </div>  
      <div class="one-half column">
          <h2>Charting Libraries</h2>
          <ol>
              <li>ChartJs</li>
              <li>D3</li>
              <li>Highcharts</li>
              <li>Dimple</li>
          </ol>
      </div>
    </div>

    @*
    <div class="row">
        <div class="one-third column value">
            <h2 class="value-multiplier">67%</h2>
            <h5 class="value-heading">Purchase Increase</h5>
            <p class="value-description">Percentage of users more likely to purchase on mobile friendly site.</p>
        </div>
        <div class="one-third column value">
            <h2 class="value-multiplier">90%</h2>
            <h5 class="value-heading">Multi-device Users</h5>
            <p class="value-description">Most of the world accesses the internet on multiple devices.</p>
        </div>
        <div class="one-third column value">
            <h2 class="value-multiplier">66%</h2>
            <h5 class="value-heading">Sad Users</h5>
            <p class="value-description">Percentage of users that are frustrated with page load times.</p>
        </div>
    </div>
    *@

</div>


@* Original content
  <div class="container">
    <div class="row">
      <div class="one-half column" style="margin-top: 25%">
        <h4>Basic Page</h4>
        <p>This index.html page is a placeholder with the CSS, font and favicon. It's just waiting for you to add some content! If you need some help hit up the <a href="http://www.getskeleton.com">Skeleton documentation</a>.</p>
      </div>
    </div>
  </div>
*@