@{
    ViewData["Title"] = "About CSI";
}
<h2>@ViewData["Title"]</h2>

<!--

<h3>@ViewData["Message"]</h3>
-->

<p>Projects change requests, service requests and incidents management web application.</p>
