
@{
    ViewData["Title"] = "Research List";
}

<section class="page content">

<div>
    <h1>Research</h1>
    <p class="lead">
        This page is left intentionally blank.
        <br/>Use this document as a way to quickly start any new page.
        <br/> All you get is this text and a mostly barebones HTML document.</p>
</div>

<div>
    <h1>Plans</h1>

    <p>
        Plans for this page.
    </p>

    <ul>
        <li>Software review</li>
        <li>Data Structures</li>
        <li>Code Profiling</li>
        <li>Sample code</li>
        
    </ul>
</div>

</section>

<partial name="_DebugPartial" />